# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/gama-academy?schema=public"

# Server Configs
PORT=3333

# JWT Configs
JWT_PRIVATE_KEY = ""
JWT_EXPIRES_IN = ""
JWT_ALGORITHM = ""
JWT_PUBLIC_KEY = ""